* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Quicksand-light";
  src: url("../../fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Quicksand-regular";
  src: url("../../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand-medium";
  src: url("../../fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand-bold";
  src: url("../../fonts/Quicksand-Bold.ttf");
}
body {
  font-family: "Quicksand-regular";
}

.img-container {
  max-width: 100%;
  height: auto;
  display: block;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  color: #FFF;
  font-size: calc(25px + 0.7575757576vw);
  font-weight: 700;
}

.subtitle {
  color: #E3E6EC;
  font-size: calc(14px + 0.202020202vw);
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .line {
  width: 5px;
  height: 50px;
  background: #1C1F25;
}
.wrapper .container {
  width: 70%;
  position: relative;
}
.wrapper .container__bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .container__text {
  display: inline-block;
  line-height: 1.2;
  padding: 12%;
  width: 30%;
}
.wrapper .num {
  color: #E3E6EC;
  font-size: calc(25px + 1.7676767677vw);
  font-weight: 700;
}

@media screen and (max-width: 875px) {
  .wrapper .container__text {
    width: 75%;
  }
}