// TEXT EFFECT
.text-focus-in {
    opacity: 0;
}

.text-focus-in.active {
    -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-expand-fwd-bottom {
    opacity: 0;
}

.tracking-in-expand-fwd-bottom.active {
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(500px);
        transform: translateZ(-700px) translateY(500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd-bottom {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(500px);
        transform: translateZ(-700px) translateY(500px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}



// PROGRESS-BAR

.chart {
    border-radius: 100px;
    position: relative;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 40px;
    width: 500px;

    &__title {
        display: flex;
        justify-content: space-between;

        span {
            margin-left: 5px;
            color: #1C1F25;
            font-weight: bolder;
        }
    }

    .bar {
        opacity: 0;
    }

    .bar.active {
        opacity: 1;
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #1C1F25;
        border-radius: 100px;
        background: #1C1F25;
        height: 5px;
        width: 0;
    }

    .bar2.active {
        animation: load2 3s normal forwards;
    }
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}