.wrapper {
    .first-block {
        width: 70%;
        position: relative;

        &__bg {
            position: absolute;
            z-index: -2;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.8);
        }

        &__title {
            display: inline-block;
            line-height: 1.2;
            padding: 12%;
            width: 30%;
        }
    }
}

@media screen and (max-width: 875px) {
    .wrapper{
        .line{
            &__white{
                background: #E3E6EC;
            }
        }
        .first-block{
            &__title{
                width: 75%;
            }

            &__bg{
                display: none;
            }
        }
    }

    .bg-first{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../../img/section-1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}