@import "./first-block";
@import "./animation";
@import "./last-block";

.fullpage-scroll{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}


.wrapper {
    @include fullScreen();
    @include flexbox($ai: center, $jc: space-evenly, $wrap: nowrap);
    scroll-snap-align: start;
    .line {
        width: 5px;
        height: 50px;
        background: #1C1F25;
    }

    .block {
        @include flexbox($jc: space-around, $ai: center);
        width: 70%;
        .container {
            @include flexbox();
            gap: 3em;
            width: 35%;
            &__title {
                display: inline-block;
                line-height: 1.2;
                width: 85%;
            }

            &__counter{
                &-list{
                    @include flexbox();
                    gap: 2em;
                }
            }
        }

            &__img{
                width: 30%;
            }

        &__list{
            @include flexbox();
                width: 40%;
            &-items{
                li{
                    @include flexbox($wrap: nowrap, $ai: center);
                    gap: 2em;
                    line-height: 1.5;
                    padding-bottom: 20px;
                    img{
                        width: 5%;
                    }
                    
                }
            }

            &-projects{
                li{
                    @include flexbox();
                    gap: 1em;
                    line-height: 1.5;
                    padding-bottom: 20px;
                    width: 70%;
                }
            }
        }

        &__item{
            width: 30%;
            &-text{
                line-height: 1.5;
            }
        }
    }

    .box{
        @include flexbox($dir: column, $ai:center);
        width: 70%;
        &__list{
            &-items{
                @include flexbox($jc: space-between);
                margin-top: 30px;

                li{
                    width: 30%;
                    line-height: 1.5;
                }
            }
        }

        &__item{
            line-height: 1.5;
            @include flexbox($ai: center, $jc: center);
            &-text, &-img{
                width: 30%;
            }
        }
    }

    .vertical-text{
        writing-mode: vertical-rl;
        rotate: 180deg;
        text-align: center;
    }

    .num {
        color: #E3E6EC;
        font-size: calc(25px + 35 *(100vw / 1980));
        font-weight: 700;
    }
}

@media screen and (max-width: 875px) {
    .wrapper{

        .line{
            &__white{
                background: #E3E6EC;
            }
        }
        .block {
            .container {
                width: 90%;
            }

            &__list{
                width: 90%;

                &-items{
                    li{
                        img{
                            width: 10%;
                        }
                    }
                }

                &-projects{
                    li{
                        width: 100%;
                    }
                }
            }
        }

        .box{
            gap: 2em;
            &__list{
                &-items{
                    li{
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .wrapper{
        .box{
            &__item{
                &-text, &-img{
                    width: 70%;
                }
            }
        }

        .block{
            &__item{
                width: 50%;
            }
        }
    }
}