@import "./first-block";
@import "./animation";

.wrapper {
    @include fullScreen();
    @include flexbox($ai: center, $jc: space-evenly, $wrap: nowrap);

    .line {
        width: 5px;
        height: 50px;
        background: #1C1F25;
    }

    .block {
        @include flexbox($jc: space-around);
        width: 70%;
        .container {
            @include flexbox();
            gap: 3em;
            width: 35%;
            &__title {
                display: inline-block;
                line-height: 1.2;
                width: 85%;
            }
        }

            &__img{
                width: 30%;
            }
    }

    .num {
        color: #E3E6EC;
        font-size: calc(25px + 35 *(100vw / 1980));
        font-weight: 700;
    }
}

@media screen and (max-width: 875px) {
    .wrapper{
        .block {
            .container {
                width: 90%;
            }
        }
    }
}